/* @import url('https://fonts.googleapis.com/css?family=poppins:400,500,600,700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300&display=swap');

*{
    font-family: 'Cormorant Upright', serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}


/* navbar */
nav{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
  
}
.logo{
    margin-left: -20vw;
}
.login{
    margin-left: 4vw;
}
nav ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
nav ul li{
    margin: 0 10px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    padding: 8px 10px;
    border-radius: 5px;
    /* color: #000; */
}
nav .menu-btn i{
    color: #757678;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checked"]{
    display: none;
}

#click{
    display: none;
}
@media (max-width:920px){
    nav .menu-btn i{
        color:#757678;
        font-size: 22px;
        cursor: pointer;
        display: block;
        margin-left: 6vw;
    }
    #click:checked ~ .menu-btn i:before{
        content: "\f00d";
    }
    nav ul{
        position: fixed;
        top:80px;
        left: -100%;
        height: 100vh;
        width: 100vw;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
        z-index:1;
    }
    #click:checked ~ ul{
        left:0;
    }
    nav ul li{
        width: 100%;
        margin: 40px 0px ;
    }
    nav ul li a{
        width: 100%;
        margin-left: -100%;
        font-size: 20px;
        display: block;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
        margin-left: 0;
    }
    nav ul li a.active,
    nav ul li a:hover{
        
        background:none;
    } 
}


/* heading div  */
.headings{
    background-image: url('images/Background.jpg');
    width: 90vw;
    height: 50vh;
    position: relative;
    margin-left: 5vw;
    border-radius: 10vh;
}
.headings h1{
    margin-top: 5vh;
    position:absolute;
    color: #fff;
    margin-left: 35vw;
}
.container{
    margin-top: 5vh;
}
.card-body{
    position: absolute;
    border-radius: 10vh;
    border-color: #a59d9d;
    border-style: solid;
    width: 80vw;
    margin-left:10.2vw;
    margin-top: -33vh;
    background-color: #fff;
    height: 70vh;
}
.mobile{
    display: none;
}
.feature-card{
    position: absolute;
    border-radius: 10vh;
    border-color: #a59d9d;
    border-style: solid;
    width: 80vw;
    margin-left:10.2vw;
    margin-top: 3vh;
    background-color: #fff;
    height: 35vh;
    margin-bottom: 50vh;
}
.features h1{
    margin-top: 45vh;
    margin-left: 45vw;
    font-size: 40px;
}
.card-details{
    display: flex;
    flex-direction: column;
    margin-top: -70vh;
    margin-left: 40vw;
    width: 30vw;
    align-items: center;
}
.card-details h2{
    font-size: 50px;
    margin-bottom: 2vh;
}
.card-details h4{
    font-family: 'poppins',sans-serif;
    font-size: 20px;
}
.card-details span{
    /* font-family: 'poppins',sans-serif; */
    color: rgb(51, 238, 66);
    margin-left: 6vw;
    font-size: 25px;
}
.card-details del{
    font-family: 'poppins',sans-serif;
   font-size: 15px;
}
.card-details p{
    font-family: 'poppins',sans-serif;
    margin-top: 4vh;
    margin-bottom: 3vh;
    width: 50%;
    color: #757678;
    font-size: 12px;
}
.card-details .try{
    padding: 1vh 2vh 1vh 2vh;
    width: 55%;
    background-color: #000;
    color: #fff;
    border-radius: 2vh;
    font-size: 30px;
}
.card{
    height: 600px;
    margin: 0;
    display: grid;
    grid-template-rows: 400px 100px;
    grid-template-columns: 1.3vw 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: left;
    margin-top: 10vh;
    margin-left: 8.5vw;
}
main#carousel{
    grid-row: 1/2;
    grid-column: 1/8;
    width:80vw;
    height:500px;
    display: flex;
    align-items: center;
    justify-content: left;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 1000px;
    --items:3;
    --middle:3;
    --position:1;
    pointer-events: none;
}
div.item{
    position: absolute;
    width:15.9vw;
    height:47.8vh;
    /* background-color: coral; */
    --r:calc(var(--position) - var(--offset));
    --abs:max(calc(var(--r)* -1),var(--r));
    transition: all 0.25s linear;
    transform:rotateY(calc(-16deg * var(--r))) translateX(calc(-150px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
    border-color: #a59d9d;
    border-style: solid;
}

div.item:nth-of-type(1){
    --offset:1;
    /* background-color: #90f1ef; */
}
div.item:nth-of-type(2){
    --offset:2;
    /* background-color: #ff70a6; */
}
div.item:nth-of-type(3){
    --offset:3;
    /* background-color: #ff9770; */
}
/* div.item:nth-of-type(4){
    --offset:4;
    background-color: #ffd670;
}
div.item:nth-of-type(5){
    --offset:5;
    background-color: #e9ff70;
} */
input{
    margin-top: -20vh;
}
input:nth-of-type(1){
    grid-column: 2/3;
    grid-row: 2/3;
}
input:nth-of-type(1):checked ~ main#carousel{
    --position:1;
}
input:nth-of-type(2){
    grid-column: 3/4;
    grid-row: 2/3;
}
input:nth-of-type(2):checked ~ main#carousel{
    --position:2;
}
input:nth-of-type(3){
    grid-column: 4/5;
    grid-row: 2/3;
}
input:nth-of-type(3):checked ~ main#carousel{
    --position:3;
}
.item img{
    width:15.6vw;
    height:47vh;
    border-width: 7px;
    border-style: solid;
    border-color: #fff;
}


/* radiobutton */

/*input[type="radio"]{
    display: none;
}

 #carousel::before{
    content: "";
    border: 2px solid #222;
    width: 30px;
    height: 30px;
} */

@media (max-width:1024px){
    .logo{
        margin-left: 0;
    }
    .card{
        margin-top: 4vh;
    }
    div .item{
        width: 16vw;
    }
    .card-details .try{
        width: auto;
    }
    .features h1{
        margin-left: 73vh;
    }
}



@media (max-width : 768px){
    nav{
        justify-content: normal;
        width: 102.5vw;
        box-shadow: 0 2px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    }
    .logo{
        margin-left: 35vw;
    }
    .headings{
        height: 25vh;
        border-radius: 5vh;
    }
    .headings h1{
        margin-left: 30vw;
        font-size: 5vh;
        margin-top: 3vh;
    }
    main #carousel{
        width:76vw;
    }
    input{
        margin-top: -22vh;
        margin-left: 13vw;
    }
    div.item{
        width: 29.9vw;
    }
    .card-body{
        margin-top: -11vh;
        width: 84vw;
        border-radius: 5vh;
        margin-left: 9.05vw;
        height: 116vh;
        box-shadow: 0 2px 8px 0 rgb(0 0 0 / 20%);
    }
    .card{
        margin-top: 0;
        margin-left: 13.5vw;
    }
    .card-details{
        margin-top: 70vh;
    }
    .card-details{
        margin-top: 40vh;
        flex-direction: column;
        margin-left: 1vw;
        width: 60vw;
    }
    .card-details h2{
        font-size: 35px;
        margin-left: -6vw;
        margin-bottom: .5vh;
    }
    .card-details h4{
        margin-top: 3vh;
        margin-left: -10vw;
    }
    .card-details p{
        margin-top: 0;
        width: 100%;
    }
    .card-details .try{
        width: 66vw;
        border-radius: 12vh;
    }
    .item img{
        width: 29.4vw;
    }
    .feature-card{
        margin-top: 5vh;
        height: 65vh;
        box-shadow: 0 2px 8px 0 rgb(0 0 0 / 20%);
    }
    .features h1{
        margin-top: 109vh;
        margin-left: 15vh;
    }
    .web{
        display: none;
    }
    .mobile{
        display: block;
    }
    .mobile1{
        width: 49vw;
        background-color: #000;
        height: 0.5vh;
        margin-top: 3vh;
        margin-bottom: 1.5vh;
    }
    .features h1{
        margin-left: 45vw;
    }   
}

@media (max-width:760px){
    .headings{
        height: 25vh;
        border-radius: 5vh;
    }
    .headings h1{
        margin-left: 6vw;
        font-size: 5vh;
    }
    .card-body{
        margin-top: -11vh;
        width: 84vw;
        border-radius: 5vh;
        margin-left: 9.05vw;
        height: 116vh;
    }
    div .item{
        width: 55.6vw;
        height: 54.05vh;
    }
    input{
        margin-top: -16vh;
    }
    .item img{
        width: 54vw;
        height: 53.3vh;
    }
    .card{
        margin-top: 4vh;
    }
    .card-details{
        margin-top: 40vh;
        flex-direction: column;
        margin-left: 1vw;
        width: 60vw;
    }
    .card-details h2{
        font-size: 35px;
        margin-left: -6vw;
        margin-bottom: .5vh;
    }
    .card-details h4{
        margin-top: 3vh;
        margin-left: -10vw;
    }
    .card-details p{
        margin-top: 0;
        width: 100%;
    }
    .card-details .try{
        width: 66vw;
        border-radius: 12vh;
    }
    main#carousel{
        width: 74.1vw;
    }
    .feature-card{
        margin-top: 5vh;
        height: 65vh;
    }
    .features h1{
        margin-top: 109vh;
        margin-left: 15vw;
    }
    .web{
        display: none;
    }
    .mobile{
        display: block;
    }
    .mobile1{
        width: 49vw;
        background-color: #000;
        height: 0.5vh;
        margin-top: 3vh;
        margin-bottom: 1.5vh;
    }
}

@media (max-width:426px){
    .headings h1{
        margin-left: 16vw;
    }
    .features h1{
        margin-left: 35vw;
    }
}

@media (max-width:376px){
    .logo{
        margin-left: 25vw;
    }
    nav{
        /* margin-left: 7vw; */
        justify-content: normal;
    }
    .headings h1{
        margin-left: 13vw;
    }
    .features h1{
        margin-left: 35vw;
    }
}

@media (max-width:320px){
    nav{
        /* margin-left: 5vw; */
        justify-content: normal;
    }
    .logo{
        margin-left: 25vw;
    }
    .headings{
        height: 25vh;
        border-radius: 5vh;
    }
    .headings h1{
        margin-left: 6vw;
        font-size: 5vh;
    }
    .card-body{
        margin-top: -11vh;
        width: 84vw;
        border-radius: 5vh;
        margin-left: 9.05vw;
        height: 116vh;
    }
    div .item{
        width: 55.6vw;
        height: 54.05vh;
    }
    input{
        margin-top: -16vh;
    }
    .item img{
        width: 54vw;
        height: 53.3vh;
    }
    .card{
        margin-top: 4vh;
    }
    .card-details{
        margin-top: 40vh;
        flex-direction: column;
        margin-left: 1vw;
        width: 60vw;
    }
    .card-details h2{
        font-size: 35px;
        margin-left: -6vw;
        margin-bottom: .5vh;
    }
    .card-details h4{
        margin-top: 3vh;
        margin-left: -10vw;
    }
    .card-details p{
        margin-top: 0;
        width: 100%;
    }
    .card-details .try{
        width: 66vw;
        border-radius: 12vh;
    }
    main#carousel{
        width: 74.1vw;
    }
    .feature-card{
        margin-top: 5vh;
        height: 65vh;
    }
    .features h1{
        margin-top: 109vh;
        margin-left: 15vh;
    }
    .web{
        display: none;
    }
    .mobile{
        display: block;
    }
    .mobile1{
        width: 49vw;
        background-color: #000;
        height: 0.5vh;
        margin-top: 3vh;
        margin-bottom: 1.5vh;
    }
}
